# Ignore massive image datasets and archives inside Wind-Turbine-Detection
Wind-Turbine-Detection/**/*.png
Wind-Turbine-Detection/**/*.jpg
Wind-Turbine-Detection/**/*.jpeg
Wind-Turbine-Detection/**/*.zip
Wind-Turbine-Detection/**/*.txt
Wind-Turbine-Detection/**/*.cache

# Other heavy datasets
Drone-Payload-Detection/Raw_Videos/
Frame-Extraction-Utilities/Frame Conversion Videos/

# Ignore large video files and archives
*.mp4
*.avi
*.mov
*.rar
